.columns {
  display: flex;
  margin: auto;
  width: 50%;
}

.column {
  max-height: 95vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.left > div {
  font-size: 1.3em;
  padding: 20px 15px;
  border: 1px solid rgb(201, 201, 201);
}

.left {
  width: 400px;
}

.right {
  width: 600px;
}

.country-box div {
  border-top: 1px solid rgb(189, 189, 189);
  padding: 20px
}

.country-box h1 {
  padding: 30px;
}

table {
  width: 100%
}

td {
  text-align: start;
  vertical-align: super;
}